/* Selector Universal */
*{
    /* Del tamaño del with se resta el paddin y border para que no se salga */
    box-sizing: border-box;
    /* El margin si se suma y genera un scroll */

    padding: 0;
    margin: 0;
}

h1{
    color: red;
    font-size: 15px;
}

/* ===== CLASE ===== */
.titulo{
    background-color: black;
    color: white;
}

/* ===== ID ===== */
#texto{
    font-weight: 500;
}

.main-nav{
    margin-top: 10px;
    list-style: none; /*Le quita las viñetas a la lista*/
    padding-left: 0px; /*Le quita el margen que agrega por defecto el navegador*/
    background-color: beige; /*Agrega un fondo al contenedor*/
}

.main-nav__item{
    display: inline-block; /*Coloca los elementos en línea*/
}

/* ESPECIFICO */
.main-nav__item a{
    color: black;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* SEUDOCLASE */
/* Define el estilo y estado de un elemento */
.main-nav__item a:hover{
    color: white;
}

.main-nav__item a:active{
    color: red;
}

/* SEUDOELEMENTO */
/* Definen una parte especifica */
.main-nav__item a::after{
    content: "*";
}

/* MODELO DE CAJA */
main{
    width: 100%;
    height: 300px;
    border: 10px solid grey;
    padding: 20px 35px;
}

/* HERENCIA */
html{
    font-size: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    /* Esto es para heredar los estilos de otra etiqueta padre */
    font-size: inherit;
}

/* ESPECIFICIDAD */