h1{
    color: red;
    font-size: 15px;
}

/* ===== CLASE ===== */
.titulo{
    background-color: black;
    color: white;
}

/* ===== ID ===== */
#texto{
    font-weight: 500;
}

.main-nav{
    margin-top: 10px;
    list-style: none; /*Le quita las viñetas a la lista*/
    padding-left: 0px; /*Le quita el margen que agrega por defecto el navegador*/
    background-color: beige; /*Agrega un fondo al contenedor*/
}

.main-nav__item{
    display: inline-block; /*Coloca los elementos en línea*/
}

/* ESPECIFICO */
.main-nav__item a{
    color: black;
    background-color: aquamarine;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* SEUDOCLASE */
/* Define el estilo y estado de un elemento */
.main-nav__item a:hover{
    color: white;
}

.main-nav__item a:active{
    color: red;
}

/* SEUDOELEMENTO */
/* Definen una parte especifica */
.main-nav__item a::after{
    content: "*";
}

