/* Todas las etiquetas de parrafo cercanas a un h2 */
/* Aplicale el color rojo a todas las etiquetas parrafo que esten cercas de un h2 */
/* h2 + p{
    color: red;
} */


/* Como hermano general un h2 vamos a afectar a todas las estiquetas de parrafo. */
h2 ~ p{
    color: red;
}

/* Del padre div que sea mayor de una etiqueta parrafo */
/* La etiqueta parrafo que sea hija de un div */
/* Etiqueta p que sea hija directa de div */
div > p{
    color: red;
}

/* Descendiente */
div p {
    color: red;
}