*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* 
html{
    font-size: 62.5%;
} */

/* .parent{
    border: 2px black dotted;
    display: flex;
} */

.box-texto{
    display: inline-block;
    background-color: aquamarine;
    width: 100px;
    height: 100px;
}

.box{
    background-color: red;
    position: relative;
    margin-bottom: 30px;

}

#uno{
    background-color: blanchedalmond;
    position: relative;
    width: 400px;
    height: 200px;
    border-radius: 1rem;
    margin: 0 auto;
}